body {
	font-family: "Open Sans", sans-serif;
}

/*CSS Reset*/

/*CSS Reset is to set the default margin and padding of the webpage elements into 0 to remove any default measurement assigned by the browser

-box-sizing property defines how the width and height of an element are calculated

-this will allow us to control the measurements of elements better

-"border-box" value includes "padding" and "border" properties of an element to the total height and width in its computation
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	/*short hand for 
	padding-top: 0.8rem
	padding-bottom: 0.8rem
	padding-right: 0.8rem
	padding-left: 0.8rem
	*/

	/*rem stands for root element measurement - default is 16 px if not modified using css

		0.8rem = 12.8px padding of all sides of the nav
	*/
	padding: 0.84rem;
	/*margin, padding, and border properties can be set on one side only. just add the side e.g. -top, -bottom, -right, -left on the property	*/
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}
/*margin vs padding*/
/*margin is best used when creating space between elements.*/
/*padding is best used when creating space between an element's border and its content*/

nav .nav, nav .nav-logo {
	margin: 0.5rem;
	/*changes elements to inline elements*/
	display: inline;
}

#intro {
	/*
	  padding-top: 2rem
	  padding-right: 10%
	  padding-left: 10%
	  padding-bottom: 3rem	
	*/

	/* x% - takes x% of the parent element's height/width

		since body tag is the parent element of the #intro section, we will take 10% of its width, which is 10% of the full-page width, and set it as margin for the left and right side of the #intro section
	*/
	padding: 2rem 10% 3rem;
	/*
		padding: 2rem 10% 3rem 5rem;
		padding-top: 2rem
		padding-right: 10%
		padding-bottom: 3rem
		padding-right: 5rem	
	*/

	/*
		padding: 2rem 10%
		padding-top: 2rem
		padding-left: 10%
		padding-bottom: 2rem
		padding-right: 10% 	*/

	/*modify the text alignment of the element*/

	text-align: center;
}

.header {
	/* most used css layout property in centering text elements	*/
	text-align: center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {
	color: white;
	/* changes the thickness of text	*/
	font-weight: bold;
	background-color: #c2195b;
	font-size: 1rem;
	/* rounds the corners of the border to the specified measurement	*/
	border-radius: 25px;
	padding: 1rem;
}

#succeed-info {
	padding: 2rem 10% 3rem;
}

#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card {
	/* inline block allows the cards to appear beside each other */
	/* the elements are inline to their siblings elements but behaves as block elements outside their parent element */
	display: inline-block;
	/* where to align the elements of the div vertically	*/
	vertical-align: top;
	/* allow cards to have equal height	should they have different content lengths*/
	min-height: 175px;
	border:	1px solid black;
	/* we used only 30% of the parent element to avoid overflowing of the element that can lead to horizontal scrolling	*/
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#pre-footer {
	padding: 1.1rem 1% 1rem;
	margin-left: 0.5;
	margin-right: 0.5;
	color: white;
	background-color: rgb(0, 50, 86);
}

#pre-footer div {
	display: inline-block;
	vertical-align: top;
	min-height: 85px;
	width: 18%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#pre-footer h3, p{
	margin-bottom: 0.4rem;
}

footer {
	padding: 0.7rem;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

